@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    height: 100vh;
    background-color: rgb(31 41 55);
    color: #fff;
    padding: 0 32px;
  }
}

.MuiPagination-root {
  button {
    color: #ffffff !important;
  }

  div {
    color: #ffffff !important;
  }
}